<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Uploader</title>

    <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/underscore.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.ui.widget.js"></script>
    <script src="js/vendor/jquery.iframe-transport.js"></script>
    <script src="js/vendor/jquery.fileupload.js"></script>

    <script src="js/app.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script type="text/template" id="file-item-template">
      <tr>
        <td>{{name}}</td>
        <td>{{size}}</td>
        <td><a href="{{url}}">Download</a></td>
      </tr>
    </script>

    <script type="text/javascript">
      _.templateSettings = {
        interpolate : /\{\{(.+?)\}\}/g
      };
    </script>

    <style type="text/css">
      body { padding-top: 10px; }
      .hidden { display: none; }
      .progress-bar { padding-left: 20px; padding-bottom: 20px; background: url('images/progress.gif') no-repeat; height: 16px }
      .hero-unit { padding-left: 10px; padding-bottom: 20px; }
    </style>
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Webnode </a>
          <ul class="nav">
            <li><a href="#files-list">Files list</a></li>
            <li><a href="#upload-file">Upload file</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <section id="files-list">
        <div class="page-header">
          <h1>Files list</h1>
        </div>
        <div class="row">
          <div class="span12">
            <div id="progress_bar" class="progress-bar"></div>
            <table id="files_list" class="condensed-table zebra-striped hidden">
              <tr class="header">
                <th>File</th>
                <th>Description</th>
                <th></th>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <section id="upload-file">
        <div class="page-header">
          <h1>Upload file</h1>
        </div>
        <div class="row">
          <form id="file_upload" action="upload" method="post" enctype="multipart/form-data">
            <fieldset>
              <div class="clearfix">
                <label for="file">File:</label>
                <div class="input">
                  <input class="input-file" id="file_input" name="file" type="file" />
                  <span id="upload_progress"></span>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </section>

      <footer>
      </footer>
    </div>
  </body>
</html>
